<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgresDbSupabase"
			 connectionString="Host=aws-0-eu-west-1.pooler.supabase.com;Database=postgres;Username=postgres.kaucwyuowqfpalaqnkfv;Password=EventSeatStud04!"/>
		<add name="postgresDbITOP"
			 connectionString="Host=void-rp.ru;Database=sql_course;Username=malinin_s;Password=Stud04!"/>
	</connectionStrings>
</configuration>